@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;

    --color-primary: #3A5A40;
    /* Deep Green */
    --color-primary-light: #588157;
    /* Lighter Green */
    --color-secondary: #DAD7CD;
    /* Beige/Cream */
    --color-accent: #A3B18A;
    /* Sage Green */
    --color-text: #344E41;
    /* Dark Green/Grey */
    --color-background: #FDFCF8;
    /* Off-white */
}

@layer base {
    html {
        font-family: var(--font-sans);
        color: var(--color-text);
        background-color: var(--color-background);
        scroll-behavior: smooth;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
        font-weight: 700;
    }
}